.header {
  font-family: "Palatino Linotype";
}

hr.headerSplitter {
  border: 2px solid black;
  opacity: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

label {
  font-size: large;
}

.eaddress {
  width: 100%;
}

.footer {
  text-align: center;
}
