.container {
  min-height: 65vh;
  display: block;
}

.headerRow {
  justify-content: center;
}

.containerRow {
  justify-content: center;
}

.infoField {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 32%;
}

@media (max-width: 700px) {
  .infoField {
    width: 95vw;
  }
}
