.container {
  display: block;
}

.headerRow {
  justify-content: center;
  align-items: center;
}

.containerRow {
  justify-content: center;
  text-align: center;
}

.infoField {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 32%;
}

a.button {
  font-weight: bold;
}

@media (max-width: 700px) {
  .infoField {
    width: 95vw;
  }
}
