.header {
  font-family: "Palatino Linotype";
}

hr.headerSplitter {
  border: 2px solid black;
  opacity: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 100px;
  opacity: 1;
}

.icon {
  font-size: 80px;
}

label {
  font-size: large;
}

.footer {
  text-align: center;
}
